<ion-header>
  <ion-toolbar>
    <ion-title>contact</ion-title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1>
      Creator 
      <p>
        Ujjay Hirbhagat
      </p>
    </h1>
  </div>
  <div class="social-menu">
    
    <ul>
      <li><a href="https://www.instagram.com/ujjay_99/">
        <i class="fa fa-facebook">
          <ion-icon name="logo-instagram" slot="start"></ion-icon>
        </i></a></li>
      <li><a href="https://twitter.com/Blastjackers"><i class="fa fa-twitter">
        <ion-icon name="logo-twitter" slot="start"></ion-icon>
      </i></a></li>
      <li><a href="https://github.com/Ujjay-99">
        <i class="fa fa-instagram">
          <ion-icon name="logo-github" slot="start"></ion-icon>
        </i></a></li>
      
    </ul>
  </div>

</ion-content>
